body {
    font-family: "Inter", system-ui;
    font-weight: 400;
    font-size: 16px;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 16px;
    margin: 0 auto;
    background-color: #ffff;
}

main {
    margin-bottom: 30px;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

/* Header */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav a {
    white-space: nowrap;
}

nav button {
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    color: black;
}

.navigation-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0px;
}

.navigation-items li:not(:last-child) {
    margin-right: 15px;
}

.navigation-items a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navigation-items a:hover {
    text-decoration: underline;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* about me */
.about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.about-me img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

/* projects */
.projects ul {
    list-style: none;
    padding-left: 0px;
}

.project-title h3 {
    display: inline;
    cursor: pointer;
}

/* skills */
.skills-list {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.skills-list i:not(:last-child) {
    margin-right: 15px;
}

/* contact */
.contact-list {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.contact-list i:not(:last-child) {
    margin-right: 10px;
}

/* responsive styling */
@media screen and (max-width: 768px) {
    .about-me-container {
        flex-direction: column-reverse;
    }
}

/* dark mode styling */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffff;
}

body.dark-mode .logo a, body.dark-mode .navigation-items a, body.dark-mode summary {
    color: #ffff;
}

body.dark-mode summary {
    filter: invert(1) brightness(2);
  }